.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    color: white;
    background-color: #664de5;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:focus {
    outline: none;
    outline-offset: none;
}